* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-backgroud-color: #f5f5f5;
    --container-backgroud-color: #fff;
    --container-border-color: #ddd;
    --title-color: #333;
    --paragraph-color: #555;
    --input-color: #ccc;
}

body {
    margin-top: 50px;
    font-family: sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-backgroud-color);
    padding: 20px;
}

.form-contenedor {
    background: var(--container-backgroud-color);
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid var(--container-border-color);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: var(--title-color);
    margin-bottom: 30px;
    font-size: 24px;
}

.form-group input::before {
    content: "👤";
}

.form-group {
    margin-bottom: 20px;
}


.form-contacto {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    /* color: #555; */
    font-weight: bold;
}

p {
    display: block;
    margin-bottom: 5px;
    color: var(--paragraph-color);
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--input-color);
    border-radius: 3px;
    font-size: 14px;
}

input:focus,
select:focus{
    outline: none;
    border-color: #007cba;
    background-color: var(--container-border-color);
}   

#mensaje-oculto {
    display: none;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--input-color);
    background-color: var(--container-border-color);
}

#mensaje-oculto:target {
    display: block;
}


.checkbox-group {
    margin: 30px 0;
}

.checkbox-group label {
    display: inline;
    font-weight: normal;
    vertical-align: middle;
}

.button-group {
    text-align: center;
    margin-top: 30px;
}

button {
    padding: 12px 25px;
    margin: 0 10px;
    border: 1px solid #007cba;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.boton {
    background-color: #007cba;
    color: white;
}

.boton:hover {
    background-color: #fff;
    color: #005a87;
}


.form-datos:first-child {
    color: red;
}

input:invalid {
    border-color: red;
    background-color: #f0e0e0;
}

input[type="email"] {
    background-color: #beddec;
    border-color: #2991c5;
}

input:only-of-type {
    background-color: pink;
    
}

p:first-of-type {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: large;
}

h1::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('recursos/lista-de-verificacion.png'); 
    background-size: cover;
    margin-right: 8px;
}

p:first-of-type::before{
    content: '"';
}

p:first-of-type::after {
    content: '"';
}

p:last-of-type::after {
    content: '';
    display: block;
    width: 60%;
    height: 2px;
    background: var(--paragraph-color);
    margin: 20px auto; 
}


